gunicorn
numpy==1.17.0
pickle5==0.0.11
pandas==1.0.5
streamlit==0.65.2
seaborn==0.10.1
matplotlib==3.2.2
scipy==1.5.0
scikit-learn==0.23.1
requests==2.24.0
json5==0.9.5
jsonschema==3.2.0
python-jsonrpc-server==0.3.4
python-dateutil==2.8.1
mpmath==1.1.0
tqdm==4.47.0
google-play-scraper==0.1.1
nltk==3.5
spacy==2.3.2
gensim==3.8.3
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-1.2.0/en_core_web_sm-1.2.0.tar.gz
